.style1 {
    background-color: lightblue;
}
.sloth {
    height: 500px;
    width: 750px;
    padding: 10px;
}

.sloth1 {
    float: right;
    margin-right: 200px;
    height: 475px;
    width: 550px;
}

body {
    background-color:lightslategray;
}